@import "tailwindcss";

@theme {
  --color-surface: #f9f7f3;
  --color-surface-dim: #d4d0c8;
  --color-surface-bright: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1efe9; /* Lists */
  --color-surface-container: #e7e4dd;
  --color-surface-container-high: #dcd9d0; /* Cards */
  --color-surface-container-highest: #c8c5bb; /* Card Hover */

  --color-primary: #853724;
  --color-on-primary: #ffffff;
  --color-primary-container: #a44e39;
  
  --color-secondary: #456556;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #688a7a;

  --color-tertiary: #A67C52;
  --color-tertiary-fixed: #ffdcbd;
  --color-secondary-fixed: #c7ebd7;

  --color-outline: #8c837f;
  --color-outline-variant: #dac1b8;

  --color-on-surface: #1c1c19;
  --color-on-surface-variant: #524f4b;

  --shadow-ambient: 0 32px 64px rgba(28, 28, 25, 0.06);
  --shadow-ghost: 0 0 0 1px rgba(218, 193, 184, 0.15); /* 15% opacity outline variant */

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    @apply antialiased md:subpixel-antialiased;
  }
}


.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsl(0 0% 80%);
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0 0% 60%);
}
